*
{
    margin:0;
    padding:0;
    outline: 2px #7eeb25 solid;
}

body
{
    background-color: #1f2937;
}

.flex-container
{
    display:flex;
}

#flex-hero-child-left
{
    flex: 1;
}

#flex-hero-child-middle
{
    height: 300px;
    flex: 1;
}

#flex-hero-child-right
{
    flex: 1;
}

#flex-center-child-left
{
    background-color: red;
    flex: 1;
}

#flex-center-child-middle
{
    height: 350px;
    background-color: aqua;
    flex: 1;
}

#flex-center-child-right
{
    background-color: blue;
    flex: 1;
}


#flex-quote-child-left
{
    background-color: #E5E7EB;
    flex: 1;
}

#flex-quote-child-middle
{
    height: 325px;
    background-color: #E5E7EB;
    flex: 1;
}

#flex-quote-child-right
{
    background-color: #E5E7EB;
    flex: 1;
}

#flex-cta-child-left
{
    background-color: red;
    flex: 1;
}

#flex-cta-child-middle
{
    height: 275px;
    background-color: aqua;
    flex: 1;
}

#flex-cta-child-right
{
    background-color: blue;
    flex: 1;
}

button
{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 40px;
}

footer
{
    height: 60px;
    color: white;
    text-align: center;
}